

.parc_cell{
    float: left;
    vertical-align: middle;
    height: 100px;
    width: 50px;
    color: white;
    background-color: #555;
    border: 0px solid #000;
    margin: 10px;
    text-align: center;
    
}

.parc_row{
    height: 120px;
    width: 700px;
    min-width: 700px;
    display:block;
    border: 0px solid rgb(255, 0, 0);
}

.wrap {
    display:inline-block;
   }

.row {
    display: flex;
    flex-direction: row;
 }

.header{
    background-color: #24444f;
    height: 100px;
    position: sticky;
    top: -1px;
    margin: 0;
    /* opacity: 0.9; */
}

.headerlogo{
    height: 70px;
    padding-left: 20px;
    padding-top: 15px;
}

.headername{
    color: white;
    font: 30px sans-serif;
    padding-left: 15px;
    padding-top: 10px;
}

.menu{
    border: 0px solid white;
    width: auto;
}

.menubutton{
    color: white;
    font: 20px sans-serif;
    margin: auto;
    padding-top: 43px;
    padding-left: 20px;
}


ul{
    list-style: none;
}
li{
    display: inline;
}

a{
    color: #ffffff;
    text-decoration: none;
}

.welcomeblock{
    background-color: white;
    background-image: url(./bgim.jpg);
    background-size: cover;
    height: 91vh;
}

.name{
    display: inline;
    font: 100px sans-serif;
    color: white;
    margin: 0;
}
.nameFPS{
    display: inline;
    font: 100px sans-serif;
    color: #afffad;
    padding-left: 20px;
    margin: 0;
}

h3{
    font: 50px sans-serif;
    color: #555;
}

.buy_btn{
    background-color: #00d732;
    border: 0px;
    height: 90px;
    width: 310px;
    border-radius: 15px;
    color: #ffffff;
    font: 20px sans-serif;
    opacity: 0.9;
}

.centerdiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.parc_vertical_arrow{
    height: 580px;
    width: 100px;
    margin: 0px;
    display: flex;
    align-items: flex-end;
}

.parc_horizontal_arrow{
    text-align: center; /* Выравниваем текст по центру */
    border-top: 10px dashed blue; /* Параметры линии  */
    height: 18px; /* Высота блока */
    background: no-repeat 10px -18px; /* Параметры фона */
}