@media screen and (max-width: 988px) {
    .parc_row{
        min-width: 350px;
    }
    .parc_map{
        min-width: 550px;
    }
    .parc_row{
        width: 350px;
        height: 60px;
    }
    .parc_cell{
        width: 25px;
        height: 50px;
        margin: 5px;
    }
    .parc_vertical_arrow{
        height: 290px;
        width: 50px;
    }
    .arrow_row{
        height: 50px;
        width: 350px;
        margin: 0px;
    }
    .parc_inout{
        font-size: 11px;
    }
    
    #parc_horizontal_arrow_d1{
        margin-top: 5px;
    }
    
    #parc_horizontal_arrow_d2{
        margin-top: 5px;
    }
    #parc{
        width: 350px;
    }
    #cell_number{
        margin-top: 8px;
        font-size: 8px;
    }
    #parc_vertical_arrow{
        width: 5px;
    }
}
@media screen and (max-width: 500px) {
    .headername{
        font-size: 10px;
    }
    .headerlogo{
        height: 23px;
    }
    #see{
        font-size: 30px;
    }


    .parc_map{
        min-width: 275px;
        height: 140px;
    }
    .parc_row{
        width: 160px;
        min-width: 160px;
        height: 30px;
    }
    .parc_cell{
        width: 12px;
        height: 25px;
        margin: 2px;
    }
    .parc_vertical_arrow{
        height: 100%;
        width: 25px;
    }
    .arrow_row{
        height: 25px;
        width: 160px;
        margin: 0px;
    }
    .parc_inout{
        font-size: 5px;
    }
    #left{
        margin-left: 5px;
    }
    
    #parc_horizontal_arrow_d1{
        margin-top: 2px;
        height: 47%;
    }
    
    #parc_horizontal_arrow_d2{
        margin-top: 2px;
        height: 47%;
    }
    #parc{
        width: 160px;
    }
    #cell_number{
        margin-top: 4px;
        font-size: 4px;
    }
    #parc_vertical_arrow{
        width: 2px;
    }
    #text{
        font-size: 13px;
    }
    .parc_map{
        border: 2px solid #000;
    }
    .buy_btn{
        width: 70px;
        height: 20px;
        font-size: 6px;
        border-radius: 5px;

    }
    .nameFPS, .name{
        font-size: 30px;
    }
    .nameFPS{
        padding-left: 10px;
    }
    .undername{
        font-size: 10px;
    }
    .sym{
        margin: 0%;
        font-size: 7px;
        margin-bottom: 4px;
    }
    .cell_color{
        width: 13px;
        height: 7px;
        background-color: aqua;
        margin-right: 1%;
        margin-bottom: 2px;
    }
    #free-place_text, #selected-place_text, #booked-place_text{
        font-size: 5px;
        /* margin-right: 50%; */

    }
    .arrow-symbol{
        width: 13px;
        height: 3px;
        background-color: blue;
        margin-top: 2px;
        margin-right: 2%;
    }
    #arrow_text{
        font-size: 5px;
    }
    .symbols-on-the-map{
        margin-bottom: 20px; 
    }
    .inf{
        margin: 0%;
        margin-bottom: 10px;
        font-size: 7px;
    }
    #your_pass{
        font-size: 13px;
        margin-bottom: 0px;
    }
    #your_pass_info{
        font-size: 8px;
        margin-top: 0px;
    }
    #qrcode{
        width: 100px;
        
    }
}