#see{
    font-size: 70px; 
}
#text{
    font-size: 40px;
}

.parc_cell{
    float: left;
    vertical-align: middle;
    height: 100px;
    width: 50px;
    color: white;
    background-color: #555;
    border: 0px solid #000;
    margin: 10px;
    text-align: center;
    
}

.parc_row{
    height: 120px;
    width: 700px;
    min-width: 700px;
    display:block;
    border: 0px solid rgb(255, 0, 0);
}

.arrow_row{
    height: 100px;
    
}

.parc_inout{
    font-size: 25px;
    margin-left: 0px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.parc_map{
    border:5px solid #000;
    align-items: none;
    min-width: 900px;
    background-color: white;
}

.parc_vertical_arrow{
    height: 580px;
    width: 100px;
    margin: 0px;
    display: flex;
    align-items: flex-end;
}

.parc_horizontal_arrow{
    text-align: center; /* Выравниваем текст по центру */
    border-top: 10px dashed blue; /* Параметры линии  */
    height: 18px; /* Высота блока */
    background: no-repeat 10px -18px; /* Параметры фона */
}

.cell_color{
    width: 40px;
    height: 20px;
    background-color: aqua;
    margin-right: 2%;
    margin-bottom: 5px;
}

#cell_number{
    user-select: none;
}

#parc{
    width: 700px;
}

#parc_horizontal_arrow_u1{
    height: 45%;
}
#parc_horizontal_arrow_d1{
    margin-top: 10px;
    height: 45%;
}
#parc_horizontal_arrow_u2{
    height: 45%;
}
#parc_horizontal_arrow_d2{
    margin-top: 10px;
    height: 45%;
}
#parc_vertical_arrow{
    width: 10px;
}

#free-place{
    background-color: #555;
}
#selected-place{
    background-color: green;
}
#booked-place{
    background-color: #bd0202;
}
.arrow-symbol{
    width: 40px;
    height: 10px;
    background-color: blue;
    margin-top: 5px;
    margin-right: 2%;
}

.buy_btn{
    background-color: #00d732;
    border: 0px;
    height: 70px;
    width: 200px;
    border-radius: 15px;
    color: #ffffff;
    font: 20px sans-serif;
    opacity: 0.9;

}

.sym{
    margin: 0%;
    font-size: 20px;
    margin-bottom: 12px;
}
.symbols-on-the-map{
    margin-bottom: 50px; 
}
.inf{
    margin: 0%;
    margin-bottom: 20px;
    font-size: 25px;
}

#free-place_text, #selected-place_text, #booked-place_text, #arrow-symbol_text{
    font: 16px sans-serif;
}

#your_pass{
    font-size: 35px;
    margin-bottom: 0px;
}
#your_pass_info{
    font-size: 25px;
    margin-top: 0px;
}
#qrcode{
    width: 250px;
}


@media screen and (max-width: 500px) {
    #see{
        font-size: 30px;
    }


    .parc_map{
        min-width: 100%;
        height: 140px;
    }
    .parc_row{
        width: 160px;
        min-width: 160px;
        height: 30px;
    }
    .parc_cell{
        width: 12px;
        height: 25px;
        margin: 2px;
    }
    .parc_vertical_arrow{
        height: 100%;
        width: 25px;
    }
    .arrow_row{
        height: 25px;
        width: 160px;
        margin: 0px;
    }
    .parc_inout{
        font-size: 5px;
    }
    #left{
        margin-left: 5px;
    }
    
    #parc_horizontal_arrow_d1{
        margin-top: 2px;
        height: 47%;
    }
    
    #parc_horizontal_arrow_d2{
        margin-top: 2px;
        height: 47%;
    }
    #parc{
        width: 160px;
    }
    #cell_number{
        margin-top: 4px;
        font: 8px sans-serif;
    }
    #parc_vertical_arrow{
        width: 2px;
    }
    #text{
        font-size: 30px;
    }
    .parc_map{
        border: 2px solid #000;
    }
    .buy_btn{
        border-radius: 10px;
        width: 150px;
        height: 59px;
    }
    .sym{
        margin: 0%;
        font-size: 7px;
        margin-bottom: 4px;
    }
    .cell_color{
        width: 35px;
        height: px;
        background-color: aqua;
        margin-right: 1%;
        margin-bottom: 2px;
    }
    /* #free-place_text, #selected-place_text, #booked-place_text{
        /* font-size: 5px; */
        /* margin-right: 50%; 

    } */
    .arrow-symbol{
        width: 35px;
        height: 9px;
        background-color: blue;
        margin-top: 2px;
        margin-right: 2%;
    }
    #arrow_text{
        font-size: 5px;
    }
    .symbols-on-the-map{
        margin-bottom: 20px; 
    }
    .inf{
        margin: 0%;
        margin-bottom: 10px;
        font-size: 20px;
    }
    #your_pass{
        font-size: 30px;
        margin-bottom: 0px;
    }
    #your_pass_info{
        font-size: 20px;
        margin-top: 0px;
    }
    
}