body{
    margin: 0%;
}

.header{
    width: 100%;
    height: 10%;

    position: sticky;
    top: -1px;
}

.wrap {
    display:inline-block;
   }

.row {
    display: flex;
    flex-direction: row;
 }

.centerdiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

h3{
    font: 50px sans-serif;
    color: #555;
}