.main{
    height: 80vh;
}

.singblock{
    width: 80%;
    height: 50%;
    /* margin-bottom: 35%; */
    flex-direction: column;
    margin: 0 auto;
}

.sing-text{
    margin: 0px;
}

.inputblock{
    display: grid;
    grid-template-columns: repeat(1, 500px);
    grid-template-rows: repeat(4, 100px);
}


.sing-button{
    height: 40px;
    font: 18px sans-serif;
    width: 307.2px;
}

.a-singup{
    font: 16px sans-serif;
    color: #555;
    text-align: center;
}

.a-singup:hover{
    font: 18px sans-serif;
    color: white;
}

#regions{
    height: 30px;
    width: 307.2px;
}

.in{
    grid-template-rows: 150px 45px 45px 35px 50px;
}

.up{
    grid-template-rows: 150px 45px 45px 45px 70px;
}

h3{
    text-align: center;
}

form{
    margin: 0 auto;
    width: 400px;
    height: 450px;

    display: grid;
    grid-template-columns: 1;
    align-items: center;
    justify-content: center;
    background-color: #24444f3d;
    border-radius: 20px;
}