
.welcomeblock{
    height: 100vh;
    width: 100%;
    flex-direction: column;

}
.namegrid{
    /* width: 70%; */
    /* text-align: center; */
    justify-content: center;
    display: grid;
    /* grid-column: 3; */
    grid-template-columns: 300px 355px 400px;
}
.undernameblock{
    width: 70%;
}
.undername{
    font: 35px sans-serif;
    color: white;
    border: px solid orange;
    padding-right: 30px;
    margin: 0;
}
.name{
    text-align: center;
    display: inline;
    font: 100px sans-serif;
    color: white;
    margin: 0;
    border: 0px solid orange;
}
.name:first-letter {
    color: #afffad;
    
}

.welcombuttonblock{
    width: 100%;
    padding-top: 60px;
}

.welcombutton{
    width: 350px;
    height: 80px;
}

.welcombutton-text{
    margin: 0;
    font: 25px sans-serif;
    user-select: none;
}

@media screen and (max-width: 1300px){
    #n2{
        padding: 0;
    }
}
@media screen and (max-width: 988px){
        .namegrid{
            grid-template-columns: 245px 290px 315px;
        }
        #n1, #n2, #n3{
            text-align: left;
            font-size: 80px;
        }
        .undername{
            font-size: 30px;
        }    

}
@media screen and (max-width: 500px){
    .namegrid{
        grid-template-columns: repeat(1, 300px);
    }
    .undername{
        font-size: 30px;
    }
}
